# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE and editor configuration files
.vscode/
.idea/
*.swp

# Ignore environment files
.env
.env.*

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile.*
docker-compose.yml

# Ignore large datasets or model files (if not needed in the build context)

# Ignore Jupyter Notebook files
Model_POS.ipynb

# Ignore everything except essential files
!app.py
!requirements.txt
!english.txt
!indonesian.txt
!model_POS_v3.h5
!tag_tokenizer.pickle
!tokenizer.pickle
